@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comic+Neue&family=Joti+One&family=Kranky&family=Lakki+Reddy&family=Mansalva&family=Rampart+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix 'jumping scrollbar' issue */
html {
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Avara';
  src: url('../assets/fonts/Avara.woff2') format('woff2');
}
