@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix 'jumping scrollbar' issue */
html {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor /* or gray-DEFAULT / gray-400 */;
}
